* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #FFF6F4;
  font-family: 'Muli', sans-serif;
  font-size: 1.6rem;
  line-height: 2.6rem;
  background-color: #000428;
  background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23656565' fill-opacity='0.03' fill-rule='evenodd'%3E%3Cpath d='M0 0h35v35H0V0zm5 5h25v25H5V5zm5 5h15v15H10V10zm5 5h5v5h-5v-5zM40 5h25v25H40V5zm5 5h15v15H45V10zm5 5h5v5h-5v-5zM70 35H35v35h35V35zm-5 5H40v25h25V40zm-5 5H45v15h15V45zm-5 5h-5v5h5v-5zM30 40H5v25h25V40zm-5 5H10v15h15V45zm-5 5h-5v5h5v-5z'/%3E%3C/g%3E%3C/svg%3E");
}

#main {
  max-width: 100rem;
  margin: 0 auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 60.5em) {
  #main {
    padding: 2rem;
  }
}

.header {
  background-image: linear-gradient(to top, #000428, #004e92);
  padding: 4rem;
  border-radius: 8px;
  transform: skewX(-8deg);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  jusify-content: center;
}
@media only screen and (max-width: 60.5em) {
  .header {
    padding: 2rem;
    transform: skewX(0);
  }
}
@media only screen and (max-width: 40em) {
  .header {
    align-items: flex-start;
  }
}
.header__content {
  transform: skewX(8deg);
  flex: 1 1;
  margin-right: 3rem;
}
@media only screen and (max-width: 60.5em) {
  .header__content {
    transform: skewX(0);
    margin-right: 1rem;
  }
}
.header__title {
  flex: 1 1 100%;
  margin-bottom: 2rem;
  line-height: 3rem;
  font-style: italic;
  font-weight: 300;
}
.header__image {
  flex: 0 1 20%;
  transform: skewX(8deg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media only screen and (max-width: 60.5em) {
  .header__image {
    transform: skewX(0);
    flex: 0 1 25%;
  }
}
@media only screen and (max-width: 40em) {
  .header__image {
    float: left;
  }
}
.header__image-item {
  width: 100%;
  max-width: 20rem;
  border-radius: 3rem 0;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
}
.header__wiki {
  transform: skewX(8deg);
  font-size: 1.3rem;
  flex: 1 1 100%;
  text-align: center;
}
@media only screen and (max-width: 60.5em) {
  .header__wiki {
    transform: skewX(0);
  }
}

#tribute-link:link, #tribute-link:visited {
  color: #FFF6F4;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid;
  transition: all 0.3s;
}
#tribute-link:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  color: #AFAFAF;
}

.nav {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 4rem;
  display: flex;
  align-items: center;
}
.nav__title {
  margin-right: 2rem;
}
.nav-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  max-width: 50rem;
}
.nav-list__item {
  margin-right: 12px;
}
.nav-list__item:link, .nav-list__item:visited {
  color: #FFF6F4;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid;
  transition: all .3s;
}
.nav-list__item:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  color: #AFAFAF;
}

.filmography {
  text-align: center;
}

.timeline {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0rem 1rem;
  position: relative;
  margin-top: 2rem;
}
.timeline::after {
  content: "";
  position: absolute;
  background: #FFF6F4;
  width: 1px;
  height: 60rem;
  z-index: 1;
}
.timeline__left {
  border-right: 14px solid;
  position: relative;
  margin-right: 40px;
  z-index: 200;
}
.timeline__left::after {
  position: absolute;
  content: "";
  top: 32px;
  right: -24px;
  width: 20px;
  transform: rotate(45deg);
  height: 20px;
  background-color: #FFF6F4;
}
.timeline__left::before {
  position: absolute;
  content: "";
  top: 28px;
  right: -68px;
  width: 20px;
  height: 20px;
  background: #FFF6F4;
  border: 4px solid #004e92;
  border-radius: 50%;
  z-index: 2;
}
.timeline__right {
  margin-top: 12rem;
  margin-left: 40px;
  border-left: 14px solid;
  position: relative;
}
.timeline__right::after {
  position: absolute;
  content: "";
  top: 32px;
  left: -24px;
  width: 20px;
  transform: rotate(45deg);
  height: 20px;
  background-color: #FFF6F4;
}
.timeline__right::before {
  position: absolute;
  content: "";
  top: 28px;
  left: -68px;
  width: 20px;
  height: 20px;
  background: #FFF6F4;
  border: 4px solid #004e92;
  border-radius: 50%;
  z-index: 2;
}
.timeline__left, .timeline__right {
  min-width: 20rem;
  background-image: linear-gradient(to top, #384B6D, #004e92);
  padding: 1rem 3rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: relative;
  display: flex;
}
.timeline-movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.timeline-movie__date {
  font-size: 3rem;
  font-weight: 300;
}
.timeline-movie__image {
  margin: 1.5rem 0;
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.timeline-movie__title {
  font-size: 2rem;
  font-weight: 300;
  font-style: italic;
}

.timeline-center {
  margin: 6rem auto;
  background-image: linear-gradient(to top, #384B6D, #004e92);
  padding: 1rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: relative;
  width: 50%;
  z-index: 3;
}

.last-movie {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.last-movie__date {
  font-size: 3rem;
  font-weight: 300;
}
.last-movie__image {
  margin: 1.5rem 0;
  width: 80%;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.last-movie__title {
  font-size: 2rem;
  font-weight: 300;
  font-style: italic;
}

.blockquote {
  text-align: center;
  background-image: linear-gradient(to bottom, #000428, #004e92);
  padding: 2rem 2rem 0 2rem;
  border-radius: 8px;
}
.blockquote__text {
  font-size: 1.7rem;
  font-style: italic;
  position: relative;
}
@media only screen and (max-width: 60.5em) {
  .blockquote__text {
    transform: skewX(0);
  }
}
.blockquote__text::before {
  position: absolute;
  content: "\201C";
  top: -1rem;
  left: -4.5rem;
  font-size: 12rem;
  opacity: 1;
}
.blockquote__footer {
  background-color: #FFF6F4;
  color: #000428;
  margin: 2rem -2rem 0 -2rem;
  padding: .3rem 2rem;
  border-radius: 0 0 8px 8px;
}
.blockquote__link:link, .blockquote__link:visited {
  color: #004e92;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  transition: border-bottom .3s;
}
.blockquote__link:hover {
  color: #004e92;
  text-decoration: none;
  border-bottom: 1px solid;
}

.footer {
  margin-top: 2rem;
  display: flex;
}
.footer__left {
  margin-right: 24px;
  position: relative;
}
.footer__heart {
  position: absolute;
  font-size: 16px;
  top: 0;
  right: -21px;
  color: red;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    font-size: 16px;
  }
  50% {
    font-size: 20px;
  }
  100% {
    font-size: 16px;
  }
}
