#about {
    padding: 10rem 4rem 0 4rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.about-text {
    flex: 1 1;
    padding: 5rem;
}

.collage {
    flex: 1 1;
    min-width: 50rem;
    display: flex;
    align-items: center;
    position: relative;
    height: 30vw;




    &__item {
        width: 50%;
        position: absolute;
        box-shadow: 0 0 12px 0px rgba(0, 0, 0, .45);
        transition: all .5s;
        border-radius: 4px;

        &:hover {
            box-shadow: 0 0 0 1rem $color-secondary;
            transform: scale(1.2);
            z-index: 100;
        }

        &--1 {
            top: 0;
            left: 0;

        }

        &--2 {
            top: 2vw;
            right: 4vw;
        }

        &--3 {
            top: 11vw;
            left: 11vw;

        }
    }

}
