$font-primary: 'Josefin Sans',
sans-serif;
$font-secondary: 'Amatic SC',
cursive;
$color-primary: #96d800;
$color-secondary: #f58f92;


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #fffffe;
  font-family: $font-primary;
  font-size: 1.8rem;
  color: #585858;
  line-height: 1.4;
}

h2 {
  font-size: 3.6rem;
  text-transform: uppercase;
  color: $color-secondary;
}


// https://colorpalettes.net/color-palette-3862/
