$font-primary: 'Josefin Sans',
sans-serif;
$font-secondary: 'Amatic SC',
cursive;
$color-primary: #5d8200;
$color-primary-light: #96d800;
$color-secondary: #f58f92;
$bg-color: #f5f5f5;
$font-color: #585858;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: $bg-color;
  font-family: $font-primary;
  font-size: 1.8rem;
  color: $font-color;
  line-height: 1.4;
}

h2.secondary {
  font-size: 3.6rem;
  text-transform: uppercase;
  color: $color-secondary;
}

h2.primary {
  font-size: 3.6rem;
  text-transform: uppercase;
  color: $color-primary-light;
}

// https://colorpalettes.net/color-palette-3862/
