$font-primary: 'Josefin Sans',
sans-serif;
$font-secondary: 'Amatic SC',
cursive;
$color-primary: #96d800;


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #f3f3f3;
  font-family: $font-primary;
}

// https://colorpalettes.net/color-palette-3862/

.container {
  max-width: 122rem;
  margin: 0 auto;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5)
}