#gallery {
  background-image: linear-gradient(to bottom, #0f2461, #0f2461, #0f2461, #0f2461, #0f2461, #1f1f56, #271b4c, #2a1742, #29102e, #220c1d, #18060f, #000000);

  padding: 6rem 10rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(9, 5vw);
  grid-gap: 2rem;
  justify-content: center;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: solid 1rem $bg-color;
  padding: 0;
  transition: all .5s;
  cursor: pointer;

}



.gallery__item--1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}
.gallery__item--1  .gallery__img,
.gallery__item--3  .gallery__img,
.gallery__item--5  .gallery__img {
  animation: borderChange 4s infinite alternate;
}
.gallery__item--2  .gallery__img,
.gallery__item--4  .gallery__img,
.gallery__item--6  .gallery__img {
  animation: borderChange 4s infinite alternate-reverse;
}



.gallery__item--2 {
  grid-column: 3 / 5;
  grid-row: 1 / 3;
}

.gallery__item--3 {
  grid-column: 5 / 9;
  grid-row: 1 / 6;
}

.gallery__item--6 {
  grid-column: 1 / 5;
  grid-row: 3 / 6;
}

.gallery__item--5 {
  grid-column: 1 / 5;
  grid-row: 6 / 10;
}

.gallery__item--4 {
  grid-column: 5 / 9;
  grid-row: 6 / 10;
}

@keyframes borderChange {

  50% {border-color: $bg-color}
  100% {border-color: $color-secondary;}
}
