#header {
  height: 100vh;
  background-image: linear-gradient(to bottom,
      rgba(15, 36, 97, 0.95) 4rem,
      rgba(0, 0, 0, 0.15) 20%,
      rgba(0, 0, 0, 0.95)),
    url(../img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  opacity: .5;
  animation: opacity 2s forwards;
  z-index: 100;
}
@keyframes opacity {
  100% {opacity: 1}
}

#header-img {
  width: 3.6rem;
  height: 3.2rem;

}


#nav-bar {
  position: fixed;
  height: 4rem;
  background-color: $navBar-color;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  transition:  .3s;
  @media (max-width: $bp-medium) {
    height: auto;
    justify-content: space-between;
  }

  & .nav-brand {
    position: relative;
    left: -100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 2rem;
    font-size: 2.3rem;
    font-weight: 700;
    color: #fff;
    transition: all 0.5s;
    animation: appear 2s ease-out  forwards;
  }
  @keyframes appear {
    100% {
        left: 2rem;
    }
  }
  & .nav-brand:hover {
    transform: translateY(0.5rem);
  }

  & ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 0.7rem;
    margin-left: 4rem;

    @media (max-width: $bp-medium) {
      display: none;
      margin-left: 0;
      margin-right: 8rem;
    }
  }

  & ul li {
    margin-right: 2rem;
  }

  & .nav-link:active,
  & .nav-link:link,
  & .nav-link:visited {
    font-size: 1.4rem;
    letter-spacing: 2px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s;
  }

  & .nav-link:hover {
    color: $color-secondary;
  }

  & .nav-link:after {
    content: "";
    display: block;
    width: 0%;
    padding-bottom: 2px;
    border-bottom: 3px solid $color-primary-light;
    transition: 0.5s;
  }

  & .nav-link:hover:after {
    width: 100%;
  }

  // Hamburger icon for mobile
  & label {
    width: 3.5rem;
    height: 3.5rem;
    border: 1px solid white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: .5rem 1.5rem .5rem 0;
    cursor: pointer;
    order: 1;
    display: none;
    @media (max-width: $bp-medium) {
      display: flex;
    }
  }

  & .toggle {
    display: block;
    border-radius: 10px;
    background-color: $bg-color;
    width: 2.5rem;
    flex: 0 0 2px;
    margin: 3px 0;
    transition: transform .2s;
  }
  & #hamburger {
    display: none;
  }
  & #hamburger:checked + label {
    border-color: $color-secondary;
  }
  & #hamburger:checked + label span:nth-of-type(1) {
    margin: 0;
    transform-origin: top;
    transform: rotate(45deg);
  }
  & #hamburger:checked + label span:nth-of-type(2) {
    display: none;
  }
  & #hamburger:checked + label span:nth-of-type(3) {
    margin: 0;
    transform-origin: top;
    transform: rotate(135deg);
  }
  // Display menu on mobile
  & #hamburger:checked ~ ul {
    display: flex;
    flex-direction: column;
    @media (min-width: $bp-medium) {
      flex-direction: row;
    }
  }
}




.center-wrap {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header-title {
  font-family: $font-secondary;
  font-size: 7vw;
  color: #fff;
  text-transform: uppercase;
  transform: scale(0);
  animation: title-appear 2s forwards;
  & span {
    display: block;
    color: $color-primary-light;
  }

}
@keyframes title-appear {
  100% {transform: scale(1)}
}
#form {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & label {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  & #email {
    flex: 0 2 50%;
    border-width: 0;
    border-radius: 30px 0 0 30px;
    font-family: $font-primary;
    font-size: 1.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 0.4rem;
    color: #aaa;
  }

  & #email:focus {
    outline-color: $color-primary-light;
  }

  & #submit {

    font-family: $font-primary;
    font-weight: 700;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #fff;
    background-color: $color-primary;
    border: 0;
    border-radius: 0 30px 30px 0;
    padding: 0 2.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.1rem;
    cursor: pointer;
  }

  & #submit:hover {
    background-color: $color-secondary;
  }
}
