#header {
  height: 100vh;
  background-image: linear-gradient(to bottom,
      rgba(15, 36, 97, 0.95) 4rem,
      rgba(0, 0, 0, 0.15) 20%,
      rgba(0, 0, 0, 0.95)),
    url(../img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

#header-img {
  width: 3.6rem;
  height: 3.2rem;
}

#nav-bar {
  position: fixed;
  height: 4rem;
  background-color: #0f2461;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;

  & .nav-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 2rem;
    font-size: 2.3rem;
    font-weight: 700;
    color: #fff;
    transition: all 0.5s;
  }

  & .nav-brand:hover {
    transform: translateY(0.5rem);
  }

  & ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 0.7rem;
    margin-left: 4rem;

    @media (max-width: 600px) {
      display: none;
    }
  }

  & ul li {
    margin-right: 2rem;
  }

  & .nav-link:active,
  & .nav-link:link,
  & .nav-link:visited {
    font-size: 1.4rem;
    letter-spacing: 2px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s;
  }

  & .nav-link:hover {
    color: $color-secondary;
  }

  & .nav-link:after {
    content: "";
    display: block;
    width: 0%;
    padding-bottom: 2px;
    border-bottom: 3px solid $color-primary-light;
    transition: 0.5s;
  }

  & .nav-link:hover:after {
    width: 100%;
  }
}

.center-wrap {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header-title {
  font-family: $font-secondary;
  font-size: 7vw;
  color: #fff;
  text-transform: uppercase;

  & span {
    display: block;
    color: $color-primary-light;
  }
}

#form {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  width: 80%;

  & label {
    flex: 100%;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  & #email {
    flex: 8;
    border-width: 0;
    border-radius: 30px 0 0 30px;
    font-family: $font-primary;
    font-size: 1.5rem;
    padding-left: 2.5rem;
    padding-top: 0.4rem;
    color: #aaa;
  }

  & #email:focus {
    outline-color: $color-primary-light;
  }

  & #submit {
    font-family: $font-primary;
    font-weight: 700;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #fff;
    background-color: $color-primary;
    border: 0;
    border-radius: 0 30px 30px 0;
    padding: 0 2.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.1rem;
    cursor: pointer;
  }

  & #submit:hover {
    background-color: $color-secondary;
  }
}
