#tours {
  padding: 8rem 0 4rem 0;
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.tour-card {
  width: 35rem;
  border-radius: 6px;
  margin: 0 2rem;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.45);
  margin-bottom: 4rem;

  &__img {
    width: 100%;
    height: 20rem;


    &--1 {
      background: url(../img/01-tour.jpg);
      background-size: cover;
    }

    &--2 {
      background: url(../img/02-tour.jpg);
      background-size: cover;
    }

    &--3 {
      background: url(../img/03-tour.jpg);
      background-size: cover;
    }
  }

  &__heading {}

  &__description {
    list-style: none;
  }

  &__details {}
}
