#featured-video {
    background-image: linear-gradient(to bottom,
            rgba(15, 36, 97, 0.95) 4rem,
            rgba(0, 0, 0, 0.15) 20%,
            rgba(0, 0, 0, 0.95)),
        url(../img/video.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 3rem 0 3rem 3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    & p {
        flex: 1 1;
    }
}

.video-container {
    flex: 0 1 50rem;

    & p {
        margin-bottom: 2rem;
    }
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    color: rgba($color-secondary, .5);
    box-shadow: 0 0 3rem 2px;
    border-radius: 6px;
    transition: color .5s;
}

.embed-container:hover {
    box-shadow: 0 0 3rem 2px;
    color: rgba($color-secondary, .9);
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.featured-icons {
    flex: 0 1 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    @media only screen and (max-width: $bp-large) {
        flex: 100%;
    }
}

.icon-box {
    background-color: rgba($color-primary, .8);
    width: 30%;
    margin: 2.5rem;
    border-radius: 6px;
    position: relative;

    @media screen and (orientation: landscape) and (max-width: $bp-large) {
        width: 18%;
    }

    &:nth-child(1) .fas {
        animation: blinkIcon 8s infinite;
    }

    &:nth-child(2) .fas {
        animation: blinkIcon 8s 1s infinite;
    }

    &:nth-child(3) .fas {
        animation: blinkIcon 8s 2s infinite;
    }

    &:nth-child(4) .fas {
        animation: blinkIcon 8s 3s infinite;
    }

    @keyframes blinkIcon {
        80% {
            transform: scale(1)
        }

        90% {
            transform: scale(1.3)
        }

        100% {
            transform: scale(1)
        }
    }

    &::before {
        content: "";
        display: block;
        padding-top: 100%;
        float: left;
    }

    &__content {
        position: absolute;
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    & .fas {
        font-size: 4.2rem;
        color: $color-secondary;
        margin-bottom: 2rem;
    }
}
