*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: #f5f5f5;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.8rem;
  color: #585858;
  line-height: 1.4; }

h2.secondary {
  font-size: 3.6rem;
  text-transform: uppercase;
  color: #f58f92; }

h2.primary {
  font-size: 3.6rem;
  text-transform: uppercase;
  color: #96d800; }

h3 {
  font-size: 2rem;
  font-weight: 100;
  line-height: 110%; }

h4 {
  font-size: 3.2rem;
  color: #fff;
  font-weight: 700;
  font-family: "Amatic SC", cursive; }

#about {
  padding: 10rem 4rem 0 4rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }

.about-text {
  flex: 1 1;
  padding: 5rem; }

.collage {
  flex: 1 1;
  min-width: 50rem;
  display: flex;
  align-items: center;
  position: relative;
  height: 30vw; }
  .collage__item {
    width: 50%;
    position: absolute;
    box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.45);
    transition: all .5s;
    border-radius: 4px; }
    .collage__item:hover {
      box-shadow: 0 0 0 1rem #f58f92;
      transform: scale(1.2);
      z-index: 100; }
    .collage__item--1 {
      top: 0;
      left: 0; }
    .collage__item--2 {
      top: 2vw;
      right: 4vw; }
    .collage__item--3 {
      top: 11vw;
      left: 11vw; }

#featured-video {
  background-image: linear-gradient(to bottom, rgba(15, 36, 97, 0.95) 4rem, rgba(0, 0, 0, 0.15) 20%, rgba(0, 0, 0, 0.95)), url(../img/video.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 3rem 0 3rem 5vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  #featured-video p {
    flex: 1 1; }

.video-container {
  flex: 0 1 40%; }
  .video-container p {
    margin-bottom: 2rem; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  color: rgba(245, 143, 146, 0.5);
  box-shadow: 0 0 3rem 2px;
  border-radius: 6px;
  transition: color .5s; }

.embed-container:hover {
  box-shadow: 0 0 3rem 2px;
  color: rgba(245, 143, 146, 0.9); }

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.featured-icons {
  flex: 0 1 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center; }

.icon-box {
  background-color: rgba(93, 130, 0, 0.8);
  width: 30%;
  margin: 2.5rem;
  border-radius: 6px;
  position: relative; }
  .icon-box:nth-child(1) .fas {
    animation: blinkIcon 8s infinite; }
  .icon-box:nth-child(2) .fas {
    animation: blinkIcon 8s 1s infinite; }
  .icon-box:nth-child(3) .fas {
    animation: blinkIcon 8s 2s infinite; }
  .icon-box:nth-child(4) .fas {
    animation: blinkIcon 8s 3s infinite; }

@keyframes blinkIcon {
  80% {
    transform: scale(1); }
  90% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }
  .icon-box::before {
    content: "";
    display: block;
    padding-top: 100%;
    float: left; }
  .icon-box__content {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .icon-box .fas {
    font-size: 4.2rem;
    color: #f58f92;
    margin-bottom: 2rem; }

#header {
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(15, 36, 97, 0.95) 4rem, rgba(0, 0, 0, 0.15) 20%, rgba(0, 0, 0, 0.95)), url(../img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  opacity: .5;
  animation: opacity 2s forwards;
  z-index: 100; }

@keyframes opacity {
  100% {
    opacity: 1; } }

#header-img {
  width: 3.6rem;
  height: 3.2rem; }

#nav-bar {
  position: fixed;
  height: 4rem;
  background-color: #0f2461;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center; }
  #nav-bar .nav-brand {
    position: relative;
    left: -100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 2rem;
    font-size: 2.3rem;
    font-weight: 700;
    color: #fff;
    transition: all 0.5s;
    animation: appear 2s ease-out  forwards; }

@keyframes appear {
  100% {
    left: 2rem; } }
  #nav-bar .nav-brand:hover {
    transform: translateY(0.5rem); }
  #nav-bar ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 0.7rem;
    margin-left: 4rem; }
    @media (max-width: 600px) {
      #nav-bar ul {
        display: none; } }
  #nav-bar ul li {
    margin-right: 2rem; }
  #nav-bar .nav-link:active,
  #nav-bar .nav-link:link,
  #nav-bar .nav-link:visited {
    font-size: 1.4rem;
    letter-spacing: 2px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s; }
  #nav-bar .nav-link:hover {
    color: #f58f92; }
  #nav-bar .nav-link:after {
    content: "";
    display: block;
    width: 0%;
    padding-bottom: 2px;
    border-bottom: 3px solid #96d800;
    transition: 0.5s; }
  #nav-bar .nav-link:hover:after {
    width: 100%; }

.center-wrap {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

.header-title {
  font-family: "Amatic SC", cursive;
  font-size: 7vw;
  color: #fff;
  text-transform: uppercase;
  transform: scale(0);
  animation: title-appear 2s forwards; }
  .header-title span {
    display: block;
    color: #96d800; }

@keyframes title-appear {
  100% {
    transform: scale(1); } }

#form {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  width: 80%; }
  #form label {
    flex: 100%;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 1rem; }
  #form #email {
    flex: 8;
    border-width: 0;
    border-radius: 30px 0 0 30px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5rem;
    padding-left: 2.5rem;
    padding-top: 0.4rem;
    color: #aaa; }
  #form #email:focus {
    outline-color: #96d800; }
  #form #submit {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #fff;
    background-color: #5d8200;
    border: 0;
    border-radius: 0 30px 30px 0;
    padding: 0 2.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.1rem;
    cursor: pointer; }
  #form #submit:hover {
    background-color: #f58f92; }

#tours {
  padding: 8rem 0 4rem 0;
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.tour-card {
  width: 35rem;
  border-radius: 6px;
  margin: 0 2rem;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.45);
  padding-bottom: 2rem;
  margin-bottom: 4rem;
  transition: .3s;
  text-align: center; }
  .tour-card:hover {
    transform: scale(1.05); }
  .tour-card:hover h4 {
    color: #96d800; }
  .tour-card__img {
    width: 100%;
    height: 20rem;
    position: relative; }
    .tour-card__img--1 {
      background: url(../img/01-tour.jpg);
      background-size: cover; }
    .tour-card__img--2 {
      background: url(../img/02-tour.jpg);
      background-size: cover; }
    .tour-card__img--3 {
      background: url(../img/03-tour.jpg);
      background-size: cover; }
  .tour-card__heading {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.55); }
  .tour-card__price {
    position: absolute;
    right: -2rem;
    top: 0rem;
    width: 14rem;
    padding-top: .6rem;
    padding-left: 3rem;
    text-align: center;
    background-color: #fff;
    display: inline-block;
    transform: rotate(30deg);
    color: #f58f92;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.45); }
  .tour-card__description {
    list-style: none;
    margin: 2rem auto;
    font-size: 1.7rem;
    width: 70%; }
    .tour-card__description li {
      padding: .5rem 0;
      padding-top: .9rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
  .tour-card__details {
    display: inline-block;
    background-color: #f58f92;
    text-transform: uppercase;
    padding: 1rem 2.5rem;
    padding-top: 1.4rem;
    font-weight: bold;
    text-align: center;
    font-size: 1.3rem;
    border-radius: 3rem;
    text-decoration: none;
    color: #fff;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    transition: .3s; }
  .tour-card__details:hover {
    background-color: #5d8200; }

#gallery {
  background-image: linear-gradient(to bottom, #0f2461, #0f2461, #0f2461, #0f2461, #0f2461, #1f1f56, #271b4c, #2a1742, #29102e, #220c1d, #18060f, #000000);
  padding: 4rem 10rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(9, 5vw);
  grid-gap: 2rem;
  justify-content: center; }

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: solid 1rem #f5f5f5;
  padding: 0;
  transition: all .5s;
  cursor: pointer; }

.gallery__item--1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3; }

.gallery__item--1 .gallery__img,
.gallery__item--3 .gallery__img,
.gallery__item--5 .gallery__img {
  animation: borderChange 4s infinite alternate; }

.gallery__item--2 .gallery__img,
.gallery__item--4 .gallery__img,
.gallery__item--6 .gallery__img {
  animation: borderChange 4s infinite alternate-reverse; }

.gallery__item--2 {
  grid-column: 3 / 5;
  grid-row: 1 / 3; }

.gallery__item--3 {
  grid-column: 5 / 9;
  grid-row: 1 / 6; }

.gallery__item--6 {
  grid-column: 1 / 5;
  grid-row: 3 / 6; }

.gallery__item--5 {
  grid-column: 1 / 5;
  grid-row: 6 / 10; }

.gallery__item--4 {
  grid-column: 5 / 9;
  grid-row: 6 / 10; }

@keyframes borderChange {
  50% {
    border-color: #f5f5f5; }
  100% {
    border-color: #f58f92; } }

#contact {
  padding: 4rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  #contact h4 {
    color: #585858;
    text-align: center; }

.contact-message__form {
  display: flex;
  flex-direction: column; }

.contact-links__nav ul {
  text-align: center;
  list-style: none; }
