*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: #f3f3f3;
  font-family: "Josefin Sans", sans-serif; }

.container {
  max-width: 122rem;
  margin: 0 auto;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); }

#about {
  max-width: 60rem;
  margin: 0 auto; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%; }

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#header {
  height: 50rem;
  background-image: linear-gradient(to bottom, rgba(15, 36, 97, 0.95) 4rem, rgba(0, 0, 0, 0.15) 20%, rgba(0, 0, 0, 0.95)), url(../img/teatr.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; }

#header-img {
  width: 3.6rem;
  height: 3.2rem;
  margin-right: 5rem; }

#nav-bar {
  position: fixed;
  height: 4rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0f2461;
  z-index: 100;
  display: flex;
  border-radius: 0 0 2rem 2rem; }
  #nav-bar .nav-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 2rem;
    font-size: 2.3rem;
    font-weight: 700;
    color: #fff;
    transition: all .5s; }
  #nav-bar .nav-brand:hover {
    transform: translateY(0.5rem); }
  #nav-bar ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: .7rem; }
    @media (max-width: 600px) {
      #nav-bar ul {
        display: none; } }
  #nav-bar ul li {
    margin-right: 2rem; }
  #nav-bar .nav-link:active,
  #nav-bar .nav-link:link,
  #nav-bar .nav-link:visited {
    font-size: 1.4rem;
    letter-spacing: 2px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s; }
  #nav-bar .nav-link:hover {
    color: #96d800; }
  #nav-bar .nav-link:after {
    content: "";
    display: block;
    width: 0%;
    padding-bottom: 2px;
    border-bottom: 3px solid #96d800;
    transition: .5s; }
  #nav-bar .nav-link:hover:after {
    width: 100%; }

.center-wrap {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

#form {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  width: 80%; }
  #form label {
    flex: 100%; }
  #form #email {
    flex: 8; }
  #form #submit {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #fff;
    background-color: #96d800;
    border: 0;
    border-radius: 0 30px 30px 0;
    padding: 0 2.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.1rem; }

.header-title {
  font-family: "Amatic SC", cursive;
  font-size: 8rem;
  color: #fff;
  text-transform: uppercase; }
  .header-title span {
    display: block;
    color: #96d800; }
